{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron" style="padding-top:3%; padding-bottom:3%; margin-bottom:8%">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Do you want to delete the showtime "{{ object.movie.name }} {{ object.timing }} {{ object.location }}"?</h1>
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-ok"></span> Yes
            </button>
            <a class="btn btn-success" href="{% url 'movies-list' %}"> No </a>
        </form>
    </div>
</div>
{% endblock %}
